:root {
  --transition-duration: 0.25s;
  --color-lime: #0f0;
  --color-primary-50: #e6f4f4;
  --color-primary-100: #cce8e8;
  --color-primary-200: #99d1d1;
  --color-primary-300: #66baba;
  --color-primary-400: #33a3a3;
  --color-primary-500: #008c8c;
  --color-primary-600: #007070;
  --color-primary-700: #005454;
  --color-primary-800: #003838;
  --color-primary-900: #001c1c;
  --color-primary-1000: #f00;
}
