.nav-component {
  display: flex;
  gap: 0.5rem;
  justify-content: flex-end;

  .button {
    border: none;
  }

  .hidden {
    display: none;
  }

  @media screen and (width <= 610px) {
    position: fixed;
    top: 0;
    right: 0;
    transform: translateX(100%);

    flex-direction: column;
    gap: 4.57vh;
    align-items: center;
    justify-content: center;

    width: 80svw;
    height: 100svh;

    background-color: var(--blue-85);

    transition: transform ease-in-out 0.4s;

    .nav-item {
      padding: 3vw 4.5vw 3vw 4vw;
    }

    &.side-menu {
      transform: translateX(0);
    }
  }
}
