.nav-component {
  display: flex;
  gap: 0.5rem;
  justify-content: flex-end;

  .button {
    border: none;
  }

  .hidden {
    display: none;
  }

  @media screen and (width <= 610px) {
    position: absolute;
    top: 0;
    right: 0;
    display: none;
  }
}
